html body { /*Sets background to be black*/
    background-color: rgba(0,0,0,1.00);

  }
  *{
      color: white; /*Sets all text to white*/
      font-family:Arial, Helvetica, sans-serif

  }
  #LogoName{
    height: 300px; 
    width: 500px; 
  }
  #Logo{
    height: 45px; 
    width: 70px; 
  }
  .col-sm{
      height: 200;
      width: 300;
  }